# Frontend Config
FRONTEND_URL=https://localhost

POSTGRESQL_USERNAME=postgres
#DATABASE_URL=postgres://postgres:postgres@localhost/just_transfer
DATABASE_URL=postgres://postgres:postgres@postgres/just_transfer

# MinIO Config
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password
#MINIO_URL=http://minio:9000
MINIO_URL=http://s3.localhost

S3_BUCKET_NAME=justtransfer-bucket
S3_BUCKET_NAME_ANONYMOUS=justtransfer-anonymous-bucket

# Server Mode (slave, master, development)
SERVER_MODE=master

# SMTP Config
SMTP_HOST=mail.info@example.com
SMTP_MAIL=youremail@example.com
SMTP_PASSWORD=your_email_password_here