# Backend Config
BACKEND_URL=0.0.0.0:80

# Frontend Config
FRONTEND_URL=https://localhost

POSTGRESQL_USERNAME=postgres
POSTGRESQL_PASSWORD=postgres
POSTGRESQL_DB_NAME=just_transfer_dev
#DATABASE_URL=postgres://postgres:postgres@localhost/just_transfer_dev
DATABASE_URL=postgres://postgres:postgres@postgres/just_transfer_dev

# RustFS Config
RUSTFS_USER=admin
RUSTFS_PASSWORD=password
RUSTFS_URL=http://s3.localhost:9000

S3_BUCKET_NAME=justtransfer-bucket
S3_BUCKET_NAME_ANONYMOUS=justtransfer-anonymous-bucket

# Server Mode (slave, master, development)
SERVER_MODE=master

# SMTP Config
SMTP_HOST=mail.info@example.com
SMTP_MAIL=youremail@example.com
SMTP_PASSWORD=your_email_password_here
DUMMY_EMAIL=your_email_for_dummy_sends

# Session Config
SESSION_DURATION_MINUTES=4320 # 3 days
FRESH_SESSION_DURATION_MINUTES=1
RESET_PASSWORD_TOKEN_DURATION_MINUTES=15

# Const for Anonymous Transfer
MAX_NUMBER_ANONYMOUS_TRANSFERS_TOT=100
MAX_LIFETIME_ANONYMOUS=3 # in days
MAX_FILE_SIZE_ANONYMOUS=524288000 # in bytes (500MiB)
CHUNK_SIZE_ANONYMOUS=10485760 # in bytes (10MiB)
MAX_DOWNLOADS_ANONYMOUS=3

# Const for Accounts
MAX_NUMBER_ACCOUNTS=100

# Const for Connected Transfer
PRICE_CONNECTED=0
MAX_NUMBER_CONNECTED_TRANSFERS_MONTH=2
CHUNK_SIZE_CONNECTED=10485760 # in bytes (10MiB)
MAX_LIFETIME_CONNECTED=7 # in days
MAX_FILE_SIZE_CONNECTED=1073741824 # in bytes (1GiB)
MAX_DOWNLOADS_CONNECTED=5

# Const for Premium Connected Transfer
PRICE_PREMIUM=10
MAX_NUMBER_CONNECTED_PREMIUM_TRANSFERS_MONTH=10
MAX_LIFETIME_CONNECTED_PREMIUM=30 # in days
MAX_FILE_SIZE_CONNECTED_PREMIUM=21474836480 # in bytes (20GiB)
MAX_DOWNLOADS_CONNECTED_PREMIUM=10