POSTGRESQL_USERNAME=postgres
#DATABASE_URL=postgres://postgres:postgres@localhost/just_transfer
DATABASE_URL=postgres://postgres:postgres@postgres/just_transfer

# MinIO Config
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password
#MINIO_URL=http://minio:9000
MINIO_URL=http://s3.localhost

S3_BUCKET_NAME=justtransfer-bucket
S3_BUCKET_NAME_ANONYMOUS=justtransfer-anonymous-bucket

# JWT Secret Key
JWT_SECRET_KEY=your_jwt_secret_key_here